marié ?
<input
    type="radio"
    name="married"
    id="yes"
    [value]="true"
    [(ngModel)]="isMarried"
    (ngModelChange)="onMaritalChange($event)"
/><label for="yes">Oui</label>
<input
    type="radio"
    id="no"
    name="married"
    [value]="false"
    [(ngModel)]="isMarried"
    (ngModelChange)="onMaritalChange($event)"
/><label for="no">Non</label>
<br />
Nb enfant:
<input
    tax-input
    type="number"
    [(ngModel)]="childCount"
    step="1"
    min="0"
    (ngModelChange)="onNbChild($event)"
/>
nb de part:
<input
    tax-input
    [(ngModel)]="nbPart"
    type="number"
    step="0.5"
    min="0"
    (ngModelChange)="onPart($event)"
    disabled
/>
revenue net avant IR:
<input
    tax-input
    min="0"
    [(ngModel)]="revNet"
    type="number"
    (ngModelChange)="onRevNet($event)"
/>
Don (7UD):
<input
    tax-input
    [(ngModel)]="donUD"
    type="number"
    min="0"
    max="1000"
    (ngModelChange)="udChange($event)"
/>

Don (7UF):
<input
    tax-input
    [(ngModel)]="donUF"
    type="number"
    min="0"
    (ngModelChange)="ufChange($event)"
/>

<div>quotient familial: {{quotientFamilial | number: "1.0-0"}}</div>

<button tax-button (click)="calculate()">Calculer</button>

<div>Impôt à payer: {{impot | number: "1.0-2"}}</div>
<router-outlet></router-outlet>
